
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIGURATION_NAME = Staging
HOST_NAME = https:\/\/faker.graphqleditor.com/3knbh/lill/graphql
SUPPORT_EMAIL = support@lill.co
APP_NAME = Lill
HOST_REST_NAME = https:\/\/api.front.dev.lill.mob325.com

#include "Generator.xcconfig"
